<<<<<<< HEAD
=======
/* Body Styling */
>>>>>>> df5cc7d4f27347a041acc16bcea2a2f7f93db1b1
body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 1.6;
}

<<<<<<< HEAD
=======
/* Header */
>>>>>>> df5cc7d4f27347a041acc16bcea2a2f7f93db1b1
.header {
  background-color: #5e175b;
  color: #fff;
}

.header h1 {
  text-align: center;
  font-size: 40px;
  text-indent: 20px;
}

<<<<<<< HEAD
=======
/* Links */
>>>>>>> df5cc7d4f27347a041acc16bcea2a2f7f93db1b1
a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: rebeccapurple;
}

a:active {
  color: red;
}

<<<<<<< HEAD
=======
/* Lists */
>>>>>>> df5cc7d4f27347a041acc16bcea2a2f7f93db1b1
ul {
  list-style: none;
  padding: 0;
}

<<<<<<< HEAD
=======
/* Main Menu */
>>>>>>> df5cc7d4f27347a041acc16bcea2a2f7f93db1b1
.main-menu {
  background-color: #f4f4f4;
  text-transform: uppercase;
  text-indent: 10px;
}

<<<<<<< HEAD
=======
/* Lead Paragraph */
>>>>>>> df5cc7d4f27347a041acc16bcea2a2f7f93db1b1
.lead {
  font-size: 20px;
  color: rebeccapurple;
  font-weight: bold;
}
