/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: 'Poppins', sans-serif;
  background: #f1f1f1;
}

/* Container */
.container {
  width: 350px;
  margin: 100px auto;
}

/* Card */
.card {
  background: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Image */
.card img {
  width: 100%;
  display: block;
}

/* Card Body */
.card-body {
  padding: 20px;
  text-align: center;
}

/* Title */
.card-body h2 {
  margin-bottom: 10px;
  font-weight: 600;
}

/* Paragraph */
.card-body p {
  font-size: 14px;
  margin-bottom: 15px;
  color: #555;
}

/* Price */
.price {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

/* Button */
.card-body button {
  width: 100%;
  padding: 10px;
  border: none;
  background: linear-gradient(
    90deg,
    rgba(242, 132, 62, 1) 21%,
    rgba(239, 111, 69, 1) 61%
  );
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

/* Button Hover */
.card-body button:hover {
  background: linear-gradient(
    90deg,
    rgba(232, 132, 62, 1) 21%,
    rgba(229, 111, 69, 1) 61%
  );
}
